# vehicle subsystem
type hal_vehicle_roscar, domain;

hal_server_domain(hal_vehicle_roscar, hal_vehicle)

# may be started by init
type hal_vehicle_roscar_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_vehicle_roscar)

binder_use(hal_vehicle_roscar)

carpowerpolicy_callback_domain(hal_vehicle_roscar)